#header {height: 40px;}
#header #logo {top: 8px;}

.tour-name {font-family: Arial;font-size: 11pt;font-weight: bold;color: darkGreen;}
.row {background-color: #E4EEE0;}
.alt-row {background-color: #C8E0C0;}
.row:hover, .alt-row:hover {background-color: #FFFFE0;}

