<%= render :partial => 'admin/shared/product_sub_menu' %>

<% @collection.each do |d| %>
<div style="width:150px;height:300px;float:left;border:solid 1px #999; padding:4px;margin:4px;">
	<img style="padding:2px;border:solid 1px #ccc;width:100px;height:100px;" /><br />
	<div><%= d.title %></div>
	<div><%= d.title_cn %></div>
</div>
<% end %>
<%= will_paginate(@collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

