<h1>New Order</h1>

<%= form_for [:admin, @shop_order] do |f| %>
<div>
	<%= f.select :order_type, Product.where('count_on_hand>0').collect{|p| [p.name, p.permalink]} %>
</div>
<div>
	
</div>

<div>
	<%= f.submit 'submit' %>
</div>
<% end %>
