<div id="footer">
<table width="100%" style="margin:0;">
                        <tbody><tr>
                            <td width="100" align="right" style="text-align: right;margin-right:20px;">
<!--
SiteSeal Html Builder Code:
Shows the logo at URL https://seal.networksolutions.com/images/colorsealwcpro.gif
Logo type is  ("NETSP")
//-->
<script type="text/javascript">SiteSeal("https://seal.networksolutions.com/images/colorsealwcpro.gif", "NETSP", "none");</script><img src="https://seal.networksolutions.com/images/colorsealwcpro.gif" style="border:none;cursor: pointer;" oncontextmenu="alert('This SiteSeal is protected');return false;" onclick="window.open(&quot;http://seals.networksolutions.com/siteseal_seek/siteseal?v_shortname=NETSP&amp;v_querytype=W&amp;v_search=www.omeitravel.com&amp;x=5&amp;y=5&quot;,&quot;NETSP&quot;,&quot;width=450,height=500,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no&quot;);return false;">
                            </td>
                            <td class="address">
                                <%= render '/shared/cms_page', :cms_title => 'page.footer.address' %>
                            </td>
                        </tr>
                    </tbody></table>
  <div style="text-align: center;background-color:#ccc;font-size:12px;height:16px;">Copyright © 2011 O'Mei Travel USA, Inc. All Rights Reserved. <a href="/pages/terms.aspx">Terms &amp; Conditions</a></div>
  <table width="100%">
  <tbody><tr>
    <td width="30%">&nbsp;</td>
    <td width="40%" valign="top">
      <img src="/upload/images/website/visa.jpg" alt="Visa"> &nbsp;
      <img src="/upload/images/website/master.jpg" alt="Master">&nbsp;
      <img src="/upload/images/website/AE.jpg"></td>
    <td width="30%" valign="top">&nbsp;
    </td>
</tr>
</tbody></table>
</div>   
<%= render 'shared/google_analytics' %>
