<img src="/upload/images/website/content_home.jpg" />
<div style="width:200px;padding:0;position: absolute;right: 20px; top: 30px;">
  <div style="padding:6px;border:solid 1px #ccc; background-color: lightyellow;margin-bottom:10px;">
    <h2>Buy 2 get 1 free!</h2>
    <p>Las Vegas Air & Hotel $228 & Up, Bahamas.Caribbean,Cruise Vacation. *Bus Tour "Buy 2 Get 1 Free"*</p>
  </div>

  <div style="padding:6px;border:solid 1px #ccc; background-color: lightyellow;margin-bottom: 10px;">
    <h2>Buy 2 get 1 free!</h2>
    <p>Las Vegas Air & Hotel $228 & Up, Bahamas.Caribbean,Cruise Vacation. *Bus Tour "Buy 2 Get 1 Free"*</p>
  </div>

</div>
