<div class='seat paid'>
		<div class="seat-check">
			<input type="checkbox" id="cb1">
			<label for="cb1"><%= i %></label>
		</div>
		<div class="seat-pickup">
				M and pickup at M maybe.<br />
				airport JFK
		</div>
		<div class="seat-info">
				13245
				<br />
				Jimmy-Liang-at-Shenzhen
				<br />
				137-287-70073 - 211
		</div>
</div>