<% content_for :head do %>
<%= javascript_include_tag 'galleria/galleria-1.2.4.min.js' %>
<script type="text/javascript">
  $(function(){
    Galleria.loadTheme('/javascripts/galleria/themes/classic/galleria.classic.js');
    $('#galleria').galleria();
  });
</script>
<style type="text/css">
   #galleria{height:500px;}
</style>
<% end %>

 <div id="galleria">
   <% @photos.each do |p| %>
   
    <a href="<%= p.attachment.url(:large) %>">
    	<%= image_tag p.attachment.url(:small) %>
    </a>
   <% end %>
</div>

